<ion-content>
  <div class="header">
    <h1>Events</h1>
  </div>
  
  <div>
    <ion-datetime></ion-datetime>
  </div>
  
  <div div="main">
    <div class="first">
      <ion-button expand="block">Amin Raiyani<br>Dua</ion-button>
    </div>
    <div class="sec">
      <ion-button  expand="block" slot="start">Amin Raiyani<br>Dua</ion-button>
    </div>
    <div class="third">
      <ion-button expand="block">Amin Raiyani<br>Dua</ion-button>
    </div>
  </div>
</ion-content>

