<ion-tabs  #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
  
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
      Home
    </ion-tab-button>
  
    <ion-tab-button tab="calendar">
      <ion-icon [name]="selectedTab == 'calendar' ? 'calendar' : 'calendar-clear-outline'"></ion-icon>
      Calendar
    </ion-tab-button>
  
    <ion-tab-button tab="add">
      <ion-icon [name]="selectedTab == 'add' ? 'add' : 'add-outline'"></ion-icon>
      Add
    </ion-tab-button>
  
    <ion-tab-button tab="events">
      <ion-icon [name]="selectedTab == 'events' ? 'events' : 'sparkles-outline'"></ion-icon>
      Events
    </ion-tab-button>
  
    <ion-tab-button tab="profile">
      <ion-icon [name]="selectedTab == 'profile' ? 'profile' : 'person-outline'"></ion-icon>
      Profile
    </ion-tab-button>
  
  </ion-tab-bar>
  </ion-tabs>